In [1]:
import pandas as pd
import boto3
import json

In [12]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

KEY             = config.get('AWS','KEY')
SECRET          = config.get('AWS','SECRET')

HOST            = config.get("CLUSTER","HOST")
DB_NAME         = config.get("CLUSTER","DB_NAME")
DB_USER         = config.get("CLUSTER","DB_USER")
DB_PASSWORD     = config.get("CLUSTER","DB_PASSWORD")
DB_PORT         = config.get("CLUSTER","DB_PORT")

DB_ROLE         = config.get("IAM_ROLE", "ARN")
DWH_CLUSTER_TYPE=config.get("CLUSTER", "DWH_CLUSTER_TYPE")
DWH_NUM_NODES   =config.get("CLUSTER", "DWH_NUM_NODES")
DWH_NODE_TYPE   =config.get("CLUSTER", "DWH_NODE_TYPE")

DWH_IAM_ROLE_NAME      =config.get("CLUSTER", "DWH_IAM_ROLE_NAME")
DWH_CLUSTER_IDENTIFIER =config.get("CLUSTER", "DWH_CLUSTER_IDENTIFIER")

(DB_USER, DB_PASSWORD, HOST)

pd.DataFrame({"Param":
                  ["HOST", "DB_NAME", "DB_USER", "DB_PASSWORD", "DB_PORT", "DB_ROLE","DWH_CLUSTER_TYPE","DWH_NUM_NODES","DWH_NODE_TYPE","DWH_IAM_ROLE_NAME","DWH_CLUSTER_IDENTIFIER"],
              "Value":
                  [HOST, DB_NAME, DB_USER, DB_PASSWORD, DB_PORT, DB_ROLE, DWH_CLUSTER_TYPE,DWH_NUM_NODES,DWH_NODE_TYPE,DWH_IAM_ROLE_NAME,DWH_CLUSTER_IDENTIFIER]
             })

,Param,Value
0,HOST,'dwhcluster.ccw3y9z3viz2.us-west-2.redshift.amazonaws.com'
1,DB_NAME,dwh
2,DB_USER,dwhuser1
3,DB_PASSWORD,Birillo1993!
4,DB_PORT,5439
5,DB_ROLE,'arn:aws:iam::384106780890:role/dwhrole1'
6,DWH_CLUSTER_TYPE,multi-node
7,DWH_NUM_NODES,4
8,DWH_NODE_TYPE,dc2.large
9,DWH_IAM_ROLE_NAME,dwhrole1
10,DWH_CLUSTER_IDENTIFIER,dwhcluster

In [3]:
import boto3

ec2 = boto3.resource('ec2',
                   region_name = 'us-west-2',
                   aws_access_key_id= KEY,
                   aws_secret_access_key= SECRET)

s3 = boto3.resource('s3',
                   region_name = 'us-west-2',
                   aws_access_key_id= KEY,
                   aws_secret_access_key= SECRET)

iam = boto3.client('iam',
                   region_name = 'us-west-2',
                   aws_access_key_id= KEY,
                   aws_secret_access_key= SECRET)

redshift = boto3.client('redshift',
                   region_name = 'us-west-2',
                   aws_access_key_id= KEY,
                   aws_secret_access_key= SECRET)

In [4]:
from botocore.exceptions import ClientError

#1.1 Create the role, 
try:
    print("1.1 Creating a new IAM Role") 
    dwhRole = iam.create_role(
        Path='/',
        RoleName=DWH_IAM_ROLE_NAME,
        Description = "Allows Redshift clusters to call AWS services on your behalf.",
        AssumeRolePolicyDocument=json.dumps(
            {'Statement': [{'Action': 'sts:AssumeRole',
               'Effect': 'Allow',
               'Principal': {'Service': 'redshift.amazonaws.com'}}],
             'Version': '2012-10-17'})
    )    
except Exception as e:
    print(e)
    
    
print("1.2 Attaching Policy")

iam.attach_role_policy(RoleName=DWH_IAM_ROLE_NAME,
                       PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
                      )['ResponseMetadata']['HTTPStatusCode']

print("1.3 Get the IAM role ARN")
roleArn = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']

print(roleArn)

1.1 Creating a new IAM Role
An error occurred (EntityAlreadyExists) when calling the CreateRole operation: Role with name dwhrole1 already exists.
1.2 Attaching Policy
1.3 Get the IAM role ARN
arn:aws:iam::384106780890:role/dwhrole1

In [5]:
try:
    response = redshift.create_cluster(        
        #HW
        ClusterType=DWH_CLUSTER_TYPE,
        NodeType=DWH_NODE_TYPE,
        NumberOfNodes=int(DWH_NUM_NODES),

        #Identifiers & Credentials
        DBName=DB_NAME,
        ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
        MasterUsername=DB_USER,
        MasterUserPassword=DB_PASSWORD,
        
        #Roles (for s3 access)
        IamRoles=[roleArn]
    )
except Exception as e:
    print(e)

In [9]:
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,dwhuser1
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.ccw3y9z3viz2.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-0b8a110e8964bd908
7,NumberOfNodes,4

In [10]:
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']
print("DWH_ENDPOINT :: ", DWH_ENDPOINT)
print("DWH_ROLE_ARN :: ", DWH_ROLE_ARN)

DWH_ENDPOINT ::  dwhcluster.ccw3y9z3viz2.us-west-2.redshift.amazonaws.com
DWH_ROLE_ARN ::  arn:aws:iam::384106780890:role/dwhrole1

In [11]:
try:
    vpc = ec2.Vpc(id=myClusterProps['VpcId'])
    defaultSg = list(vpc.security_groups.all())[0]
    print(defaultSg)
    defaultSg.authorize_ingress(
        GroupName=defaultSg.group_name,
        CidrIp='0.0.0.0/0',
        IpProtocol='TCP',
        FromPort=int(DB_PORT),
        ToPort=int(DB_PORT)
    )
except Exception as e:
    print(e)

ec2.SecurityGroup(id='sg-03d137957d881308a')

In [13]:
%load_ext sql
#%reload_ext sql

conn_string="postgresql://{}:{}@{}:{}/{}".format(DB_USER, DB_PASSWORD, DWH_ENDPOINT, DB_PORT,DB_NAME)
print(conn_string)
%sql $conn_string

postgresql://dwhuser1:Birillo1993!@dwhcluster.ccw3y9z3viz2.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser1@dwh'

In [14]:
s3_bucket_name = "udacity-dend"
sampleDbBucket =  s3.Bucket(s3_bucket_name)

limit = 5
index = 0
for obj in sampleDbBucket.objects.filter(Prefix="song_data"):
    print(obj)
    index += 1
    if index == limit:
        break

s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAAK128F9318786.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAAV128F421A322.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAABD128F429CF47.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAACN128F9355673.json')

In [ ]:
limit = 5
index = 0
for obj in sampleDbBucket.objects.filter(Prefix="log_data"):
    print(obj)
    index += 1
    if index == limit:
        break

In [15]:
%run create_tables.py

In [16]:
%sql SELECT DISTINCT tablename FROM pg_table_def WHERE schemaname = 'public'

 * postgresql://dwhuser1:***@dwhcluster.ccw3y9z3viz2.us-west-2.redshift.amazonaws.com:5439/dwh
7 rows affected.

[('artist',),
 ('song',),
 ('songplay',),
 ('staging_event',),
 ('staging_song',),
 ('time',),
 ('users',)]

In [17]:
%run etl.py

In [20]:
%sql SELECT * FROM staging_event LIMIT 3

 * postgresql://dwhuser1:***@dwhcluster.ccw3y9z3viz2.us-west-2.redshift.amazonaws.com:5439/dwh
3 rows affected.

[('N.E.R.D. FEATURING MALICE', 'Logged In', 'Jayden', 'M', 0, 'Fox', 288.9922, 'free', 'New Orleans-Metairie, LA', 'PUT', 'NextSong', '1541033612796', 184, 'Am I High (Feat. Malice)', 200, 1541121934796, '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 101),
 (None, 'Logged In', 'Stefany', 'F', 0, 'White', None, 'free', 'Lubbock, TX', 'GET', 'Home', '1540708070796', 82, None, 200, 1541122176796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 83),
 ('Death Cab for Cutie', 'Logged In', 'Stefany', 'F', 1, 'White', 216.42404, 'free', 'Lubbock, TX', 'PUT', 'NextSong', '1540708070796', 82, 'A Lack Of Color (Album Version)', 200, 1541122241796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 83)]

In [21]:
%sql SELECT * FROM staging_song LIMIT 3

 * postgresql://dwhuser1:***@dwhcluster.ccw3y9z3viz2.us-west-2.redshift.amazonaws.com:5439/dwh
3 rows affected.

[('ARQVORN11F50C4EFEC', None, '', None, 'Bedlight For Blue Eyes', 165.38077, 1, 'SOMFRKT12A8C146C67', 'Without You', 0),
 ('AR8JO2B1187B98EBB6', None, 'New York City, NY, USA', None, 'Leftöver Crack', 161.33179, 1, 'SORLTAN12AF72ABBFA', 'Life Causes Cancer', 2007),
 ('AR1XD261187B9ACF9B', None, '', None, 'Nick Cave/Warren Ellis', 67.83955, 1, 'SOIYETP12A6D4F8B04', 'The Rider #3', 2006)]

In [22]:
%sql SELECT * FROM songplay LIMIT 3

 * postgresql://dwhuser1:***@dwhcluster.ccw3y9z3viz2.us-west-2.redshift.amazonaws.com:5439/dwh
3 rows affected.

[(56, datetime.datetime(2018, 11, 26, 0, 52, 5), 33, 'free', 'SONQEAO12A6D4F8CB3', 'AR7S2271187FB38B1F', 827, 'Eugene, OR', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (120, datetime.datetime(2018, 11, 21, 23, 36, 31), 15, 'paid', 'SOISFRK12A6D4F573D', 'AR2FAMK1187FB4CF60', 818, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (184, datetime.datetime(2018, 11, 13, 18, 39, 37), 15, 'paid', 'SOVAEBW12AB0182CE6', 'AR756JL1187FB3D3A9', 417, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"')]

In [23]:
%sql SELECT * FROM users LIMIT 3

 * postgresql://dwhuser1:***@dwhcluster.ccw3y9z3viz2.us-west-2.redshift.amazonaws.com:5439/dwh
3 rows affected.

[(101, 'Jayden', 'Fox', 'M', 'free'),
 (80, 'Tegan', 'Levine', 'F', 'free'),
 (53, 'Celeste', 'Williams', 'F', 'free')]

In [24]:
%sql SELECT * FROM sons LIMIT 3

 * postgresql://dwhuser1:***@dwhcluster.ccw3y9z3viz2.us-west-2.redshift.amazonaws.com:5439/dwh
(psycopg2.ProgrammingError) relation "sons" does not exist
 [SQL: 'SELECT * FROM sons LIMIT 3']

In [25]:
%sql SELECT * FROM artist LIMIT 3

 * postgresql://dwhuser1:***@dwhcluster.ccw3y9z3viz2.us-west-2.redshift.amazonaws.com:5439/dwh
3 rows affected.

[('ARKYKXP11F50C47A6A', 'The Supersuckers', '', None, None),
 ('AR0WCZW1187B99F592', 'Tommy Torres', '', None, None),
 ('ARML8X41187B990644', 'Simple Minds', 'Glasgow, Scotland', None, None)]

In [26]:
%sql SELECT * FROM time LIMIT 3

 * postgresql://dwhuser1:***@dwhcluster.ccw3y9z3viz2.us-west-2.redshift.amazonaws.com:5439/dwh
3 rows affected.

[(datetime.datetime(2018, 11, 14, 15, 37, 16), 15, 14, 46, 11, 2018, '3'),
 (datetime.datetime(2018, 11, 11, 15, 0, 37), 15, 11, 45, 11, 2018, '0'),
 (datetime.datetime(2018, 11, 21, 15, 30), 15, 21, 47, 11, 2018, '3')]

In [ ]:
#define function to extract data from json
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

In [27]:
#### CAREFUL!!
#-- Uncomment & run to delete the created resources
redshift.delete_cluster( ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,  SkipFinalClusterSnapshot=True)
#### CAREFUL!!

{'Cluster': {'ClusterIdentifier': 'dwhcluster',
  'NodeType': 'dc2.large',
  'ClusterStatus': 'deleting',
  'MasterUsername': 'dwhuser1',
  'DBName': 'dwh',
  'Endpoint': {'Address': 'dwhcluster.ccw3y9z3viz2.us-west-2.redshift.amazonaws.com',
   'Port': 5439},
  'ClusterCreateTime': datetime.datetime(2022, 12, 17, 15, 42, 28, 751000, tzinfo=tzlocal()),
  'AutomatedSnapshotRetentionPeriod': 1,
  'ClusterSecurityGroups': [],
  'VpcSecurityGroups': [{'VpcSecurityGroupId': 'sg-03d137957d881308a',
    'Status': 'active'}],
  'ClusterParameterGroups': [{'ParameterGroupName': 'default.redshift-1.0',
    'ParameterApplyStatus': 'in-sync'}],
  'ClusterSubnetGroupName': 'default',
  'VpcId': 'vpc-0b8a110e8964bd908',
  'AvailabilityZone': 'us-west-2d',
  'PreferredMaintenanceWindow': 'fri:06:30-fri:07:00',
  'PendingModifiedValues': {},
  'ClusterVersion': '1.0',
  'AllowVersionUpgrade': True,
  'NumberOfNodes': 4,
  'PubliclyAccessible': True,
  'Encrypted': False,
  'Tags': [],
  'EnhancedVpcRouting': False,
  'IamRoles': [{'IamRoleArn': 'arn:aws:iam::384106780890:role/dwhrole1',
    'ApplyStatus': 'in-sync'}],
  'MaintenanceTrackName': 'current'},
 'ResponseMetadata': {'RequestId': '57bc7b40-9547-44f4-a05e-70c492e0ca46',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': '57bc7b40-9547-44f4-a05e-70c492e0ca46',
   'content-type': 'text/xml',
   'content-length': '2714',
   'date': 'Sat, 17 Dec 2022 15:56:49 GMT'},
  'RetryAttempts': 0}}

In [28]:
myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,deleting
3,MasterUsername,dwhuser1
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.ccw3y9z3viz2.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-0b8a110e8964bd908
7,NumberOfNodes,4

In [31]:
myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

                 Key                  Value
0  ClusterIdentifier  dwhcluster
1  NodeType           dc2.large
2  ClusterStatus      deleting
3  MasterUsername     dwhuser1
4  DBName             dwh
5  Endpoint           {'Port': 5439}
6  VpcId              vpc-0b8a110e8964bd908
7  NumberOfNodes      4

In [ ]:
##The cell above outputs error when the cluster has been finally delete, run multiple times